@import "_variables";

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - $nav_height - 20px);
  position: relative;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1.8rem;
    margin-bottom: 20px;
    max-width: 400px;
    justify-content: space-between;

    .render {
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      align-self: center;

      .authenticate {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        article {
          width: 100%;
          padding: 10px;
          margin: 10px 0;
          border: 1px solid $font_color;
          display: flex;
          align-items: center;
          cursor: pointer;

          svg {
            width: 25px;
            height: 25px;
          }
          span {
            padding: 0 10px;
            flex: 1;
          }
        }

        form.auth_form {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          font-size: 15px;
          align-items: center;
          width: min(280px, 90vw);

          label {
            width: 100%;
            color: #335;
            z-index: 1;
            transform: scale(1) translate(10px, -33px);
            transition: transform 300ms, color 300ms;
          }

          input {
            position: relative;
            padding: 10px;
            font-family: inherit;
            width: 100%;

            &:focus + label,
            &:not(:placeholder-shown) + label {
              color: $font_color;
              transform: scale(0.8) translate(-35px, -80px);
            }

            &[type="submit"]:not(:disabled) {
              cursor: pointer;
              border: 1px solid $font_color;
              color: $font_color;
              background-color: transparent;
              font-weight: bold;
            }
          }
          span {
            width: 100%;
            font-size: 10px;
            transform: translateY(-18px);
          }

          p {
            margin-top: 10px;
            text-align: center;
            cursor: pointer;
          }
        }
      }
    }

    .active_link {
      margin-top: 5px;
      text-align: center;
      span {
        text-decoration-line: underline;
      }
    }

    .anim {
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      position: absolute;
      border-radius: 0 0 0 0;
      background-color: $bg_color;
      animation: slide 2s ease-in-out forwards;
    }
  }
}
@keyframes slide {
  to {
    border-radius: 0 0 100% 0;
    height: 33%;
  }
}

blockquote {
  line-height: 2rem;

  span {
    text-decoration-line: underline;
  }

  &::before {
    content: '"';
    font-size: 2rem;
  }
}
