:root {
  --primary-color: #fff;
  --font-color: #335;
  --bg-color: #fff;
  --heading-color: #212121;
  --body-color: #f1f1fa;
  --accent: #83e5fc;
  --danger: #f33;
  --success: green;
  --darken: #fffd;
  --highlight: #f2f2f2;
}
[data-theme="dark"] {
  --primary-color: #222;
  --font-color: #fafafa;
  --bg-color: #334;
  --heading-color: #fff;
  --body-color: #121227;
  --accent: #01579b;
  --success: #5f5;
  --darken: #003c;
  --highlight: #333350;
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Poppins&display=swap");
