@import "variables";

.wrapper {
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  .image_form {
    border: 2px dashed $accent;
    background-color: $bg_color;
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: $space;
    text-align: center;
    cursor: grab;

    & > * {
      cursor: grab;
    }

    input {
      display: none;
    }

    svg {
      width: 100px;
      fill: $accent;
    }
  }

  .uploaded-area {
    width: 100%;

    ol {
      list-style: none;

      li {
        display: flex;
        justify-content: left;
        margin-top: calc($space/2);
        background-color: $lighten;
        position: relative;
        cursor: move;

        &::before {
          content: "";
          width: 3px;
          height: 100%;
          background-color: $accent;
          right: 0;
          position: absolute;
          transform: scaleY(0);
          transition: transform 500ms;
        }

        &:hover {
          box-shadow: $light_shadow;
          &::before {
            transform: scaleY(1);
          }
        }

        img {
          flex: 1;
          width: 150px;
          height: 100px;
          margin-right: calc($space/2);
          overflow: hidden;
          object-fit: contain;
        }

        .content {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .name {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }

          .size_and_remove > span:nth-child(2) {
            margin-left: $space;
            cursor: pointer;
          }
        }
      }
    }
  }
}
