@import "variables";

html,
body,
header,
nav,
ol,
ul,
li,
div,
section,
article,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $poppins;
  color: $font_color;
  background-color: $body_color;
  margin: 10px 20px;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading_color;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.1rem;
}
h4 {
  font-size: 0.9rem;
}
h5 {
  font-size: 0.7rem;
}
h6 {
  font-size: 0.5rem;
}

a {
  text-decoration: none;
  color: $font_color;
}

#root {
  display: flex;
  flex-direction: column;

  main {
    min-height: 80vh;
  }
}

@media only screen and (max-width: 580px) {
  body {
    margin: 0;
  }
}
