@import "variables";

nav {
  width: 100%;
  max-width: 100vw;
  display: flex;
  background-color: $bg_color;
  align-items: center;
  height: $nav_height;
  z-index: 10;
  overflow-y: hidden;
  position: sticky;
  top: 10px;
  left: 0;

  .logo {
    height: 100%;

    .nav_icon {
      padding: 0 10px;
      max-width: 35px;
      &:focus {
        outline: none;
      }
    }
  }

  .links,
  .logo {
    display: flex;
    flex: 1;
    align-items: center;

    a {
      display: flex;
      height: 100%;
      align-items: center;

      span {
        display: inline;
      }
    }
  }

  .links {
    a {
      flex-direction: column;
      padding-right: 10px;
    }
  }

  .links > a.link_active {
    animation: show 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .logo {
    .ham {
      z-index: 11;
      width: 35px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0;

      span {
        width: 100%;
        height: 2.3px;
        border-radius: 2.5px;
        background-color: $font_color;
      }
    }

    svg {
      height: 100%;
      width: auto;
    }
  }

  .links {
    justify-content: flex-end;
    a {
      margin-left: 2rem;
      svg {
        max-width: 40px;
      }
    }
  }
}

@media only screen and(max-width: 580px) {
  nav {
    .logo {
      h1.logo_txt {
        display: none;
      }
    }
  }
}

@media only screen and(max-width: 440px) {
  nav > .links > a > span {
    display: none;
  }
}

@keyframes show {
  50% {
    transform: scaleY(0.4);
  }
}
