@import "variables";

.product{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - $nav_height - 40px);
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  
  .intro{
    width: 400px;
    // height: 100%;
    background-color: $bg_color;
    max-width: 90vw;
    margin-right: 10px;
    padding: 20px 10px;

    img{
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  .desc{
    width: 100%;
    height: 100%;
  }
}

@media (max-width:500px){
  .product{
    flex-direction: column;
    max-width: 100vw;
    margin: 0;
    height: 100%;

    .intro{
      img{
        // width: 100%;
        
      }
      .desc{
        // margin: 0;
      }
     
    }
  }
}