@import "variables";

.product_form {
  margin-top: $space;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  button {
    width: 100%;
    padding: $space;
    border: 0;
    background-color: $font_color;
    color: $bg_color;
    outline: none;
    cursor: pointer;

    &:focus,
    &:hover {
      outline-color: $font_color;
    }
  }

  & > ol,
  & > form,
  & > div,
  & > dl {
    width: min(400px, 90vw);
    margin: calc($space/2);
  }

  .switcher {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  dl {
    background-color: $bg_color;
    padding: 10px;

    dt {
      font-weight: bold;
      text-transform: capitalize;
    }
  }
  button + button {
    margin-left: $space;
  }

  form {
    flex: auto;
    display: flex;
    flex-direction: column;
    font-size: 15px;

    input,
    textarea,
    select,
    option {
      padding: 10px;
      font-family: inherit;
      width: 100%;

      &[type="submit"] {
        margin: $space 0;
      }

      &[type="submit"] {
        cursor: pointer;
        border: 1px solid $font_color;
        color: $font_color;
        background-color: transparent;
        font-weight: bold;
      }
    }

    button {
      margin-top: $space;
    }

    textarea {
      resize: none;
    }

    .error {
      width: 100%;
      font-size: 10px;
      transform: translateY(-18px);
    }

    .secondary_buttons {
      display: flex;
      button.cancel {
        background-color: transparent;
        color: $font_color;

        & ~ button {
          background-color: $bg_color;
          color: $font_color;
          border: 1px solid $font_color;
        }
      }
    }
  }
  .size_list_item {
    background-color: $bg_color;
    padding: 10px 20px;
    position: relative;
    margin-bottom: 10px;

    h4 {
      width: 100%;
      display: flex;
      font-weight: 500;
      span {
        width: min(150px, 30vw);
      }
    }

    .delete {
      position: absolute;
      right: 2.5px;
      top: 5px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
