@import "variables";

.product {
  display: flex;
  flex-direction: column;
  width: 100%;

  .intro {
    background-color: $bg_color;
    box-shadow: $light-shadow;
    overflow: hidden;
    padding: 10px 0;
    height: fit-content;

    .selected_image {
      height: min(400px, calc(100vh - $nav_height - 20px));
      width: 100%;
      max-width: 100vw;
      object-fit: contain;
    }

    .image_slider {
      height: 70px;
      margin-bottom: 5px;

      img {
        cursor: pointer;
        padding: 2px;
        aspect-ratio: 1;
        height: 100%;
        width: auto;
        object-fit: cover;
        border: 2px solid transparent;
        transition: border-radius 400ms, border-color 400ms;
        margin-left: 10px;

        &.selected {
          border-radius: 10%;
          border-color: $success;
        }
      }
    }
  }

  .details {
    flex: 1;
    margin: $space 0;

    .title {
      box-shadow: $light-shadow;
      padding: $space;
      background-color: $bg_color;
      h4 {
        color: $font_color;
      }
    }

    .desc {
      box-shadow: $light-shadow;
      padding: $space;
      word-wrap: break-word;
      background-color: $bg_color;

      div {
        margin-bottom: $space;

        h3 {
          text-transform: capitalize;
          color: $font_color;
        }
      }

      table {
        width: 100%;

        tbody tr {
          &:nth-child(odd) {
            background-color: $highlight;
          }

          td {
            text-align: center;
            padding: 5px;
          }
        }
      }
    }

    .add_to {
      display: flex;
      justify-content: space-between;
      margin: $space;

      button {
        outline: 0;
        border: 0;
        background-color: $bg_color;
        height: 50px;
        padding: 0 $space;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-transform: capitalize;
        width: min(300px, 40vw);
        color: $font_color;
        box-shadow: $light_shadow;

        &:hover {
          box-shadow: $dark_shadow;
        }
      }
    }

    .size {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .box {
        min-width: 80px;
        display: flex;
        align-items: center;
        margin: 10px;
        flex-direction: column;
        cursor: pointer;
        padding: 5px 15px;

        .name {
          text-transform: capitalize;
        }

        &.selected {
          background-color: $font_color;
          color: $bg_color;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .product {
    flex-direction: row;
    max-width: 100vw;
    margin: 0;

    .intro {
      margin-top: $space;
      width: 350px;
    }

    .details {
      margin: $space 0 0 $space;

      .add_to {
        margin: $space 0;
        button {
          width: min(250px, 50vw);
        }
      }
    }
  }
}
