@import "variables";

.slider-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  height: max-content;
  background-color: $bg_color;
  margin: 10px 0;
  box-shadow: $light_shadow;

  .title {
    padding: 5px 10px;
    text-transform: capitalize;
  }

  .slider {
    display: flex;
    margin: 10px 0;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      height: 0;
      color: transparent;
    }

    .slide {
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      width: 200px;
      height: max-content;
      position: relative;
      padding: 10px;
      border: 2px solid $body_color;
      transition: border 300ms ease-out;

      &:hover {
        border: 2px solid transparent;

        .cta {
          svg.bag {
            stroke: $success;
          }
          svg.heart {
            fill: $danger;
            stroke: $danger;
          }
        }
      }

      .img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        padding: 5px;

        img {
          padding: 10px;
          width: 100%;
          height: 100%;
          image-resolution: 4;
          object-fit: scale-down;
        }
      }

      .desc {
        span.size{
          color: #757575;
          font-size: smaller;
        }
        
        &>h4{
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          line-height: 1.5;
        }
        
        .price {
          font-family: $fira;
          display: flex;
          align-items: center;
          justify-content: space-between;

          h6 {
            font-weight: lighter;
            margin: 0 5px;
          }
          h5{
            color: $success;
          }
        }
      }

      .cta {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        svg {
          width: 20px;
          height: auto;
          stroke-width: 2px;
          stroke-dasharray: 100;
          animation: dash 1s linear;
          transition: stroke 500ms;

          &.bag {
            position: absolute;
            right: 0;
            transform: translate(-10px, 10px);

            &.active {
              stroke: $success;
            }
          }
          &.heart {
            transform: translate(10px, 10px);

            &.active {
              fill: $danger;
              stroke: $danger;
            }
          }
        }
      }
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 200;
  }
}
