@import "variables";

.stepper {
  display: flex;
  margin: 0 10px;
  width: 100%;

  .stepper__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    position: relative;

    .stepper__title {
      position: absolute;
      font-weight: bold;
      margin-bottom: 0.5rem;
      top: 110%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }

    &:hover {
      .stepper__title {
        display: block;
      }
    }

    &:before {
      content: attr(data-index) "";
      display: flex;
      align-items: center;
      justify-content: center;
      width: $circle-size;
      height: $circle-size;
      color: $font_color;
      background-color: $lightgrey;
      opacity: 0.5;
      margin: 0 auto 1rem;
      outline: 2px solid transparent;
    }

    &:not(:last-child) {
      &:after {
        content: "";
        position: relative;
        top: calc($circle-size / 2);
        width: calc(100% - $circle-size - calc($spacing * 2));
        left: calc(50% + calc($circle-size / 2 + $spacing));
        height: 2px;
        background-color: $grey;
        order: -1;
      }
    }

    &.visited {
      &::before,
      &::after {
        background-color: $success;
        color: $bg_color;
      }
      &::before {
        transform: rotateZ(5deg);
      }
    }

    &.current {
      &::before {
        outline: 2px solid $font_color;
        opacity: 1;
      }
    }
  }
}
