@import "variables";

aside.toasts {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;

  div.toast {
    margin: 10px 0;
    background-color: $darken;
    width: 300px;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    box-shadow: $light_shadow;
    text-transform: lowercase;
    animation: slide-left 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;

    &:first-letter {
      text-transform: uppercase;
    }

    &.success {
      border-left: 5px solid $success;
    }

    &.danger {
      border-left: 5px solid $danger;
    }

    &.disappear {
      animation: slide-bottom 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s forwards;
    }
  }
}

@media only screen and (max-width: 500px) {
  aside.toasts {
    div.toast {
      width: 80vw;
      max-width: 80vw;
    }
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(250px);
    display: none;
  }
}
