@import "variables";

aside.toasts {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;

  div.toast {
    margin: 10px 0;
    background-color: $darken;
    width: 300px;
    max-width: 400px;
    padding: 20px;
    box-shadow: $light_shadow;
    text-transform: lowercase;
    animation: slide-down 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 1700ms
      both;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      animation: scale-down 1800ms cubic-bezier(0.17, 0.67, 0.83, 1) forwards;
      transform-origin: left;
    }

    &:first-letter {
      text-transform: uppercase;
    }

    &.success {
      &::after {
        background-color: $success;
      }
    }

    &.danger {
      &::after {
        background-color: $danger;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  aside.toasts {
    div.toast {
      width: 80vw;
      max-width: 80vw;
    }
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(250px);
  }
}

@keyframes scale-down {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(0%);
  }
}
