@import "variables";

aside.toasts{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  
  div.toast{
    margin: 10px 0;
    background-color: $darken;
    width: 300px;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    box-shadow: $light_shadow;
    text-transform: lowercase;

    &:first-letter{
      text-transform: uppercase;
    }

    &.success{
      border-left: 5px solid $success;
    }

    &.danger{
      border-left: 5px solid $danger;  
    }
  }
}

@media only screen and (max-width: 500px) {
  aside.toasts{
    div.toast{
      width: 80vw;
      max-width: 80vw;
    }
  }
}